@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$dark: #2a2a2a;
$text-green: #4e6108;
$dark-green: #586f08;
$light-green: #93ad18;
$white: #fff;
$light-grey: #eeeeee;
@import "../scss/libs/employee-table.scss";

body {
  margin: 0;
  color: $dark;
  font-family: "Montserrat";
  background-color: $light-grey;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.16);
    a {
      text-decoration: none;
      font-weight: 700;
    }
    .text-logo {
      font-size: 48px;
      color: $light-green;
      display: flex;
      align-items: center;
      img {
        width: 96px;
      }
    }
    nav {
      a {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: $dark;
        padding: 24px;
        background-color: $light-grey;
        border-radius: 40px;
        height: 40px;
        box-sizing: border-box;
        i {
          font-size: 24px;
        }
      }
    }
  }

  h1 {
    color: $light-green;
    font-size: 32px;
    margin: 48px 0;
    text-align: center;
  }

  .create-employee {
    max-width: 650px;
    margin: auto;
  }

  form.new-employee-form {
    background-color: white;
    padding: 32px;
    display: grid;
    gap: 16px;
    border-radius: 16px;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.16);
    .input-container {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      > label + * {
        height: 40px;
        border-radius: 32px;
        padding: 0 16px;
        border: 1px solid $dark-green;
        box-sizing: border-box;
        font-size: 16px;
        font-family: "Montserrat";
      }
    }
  }

  .button {
    height: 48px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat";
    border-radius: 32px;
    cursor: pointer;
    margin: 24px 0 0 0;
    border: none;
    background-color: $light-green;
    color: $white;
    width: 100%;
    font-weight: 700;
  }

  .container {
    margin: auto;
    max-width: 90%;
  }

  nav a,
  button,
  input {
    transition: all 100ms ease;
  }

  nav a:hover,
  button:hover,
  input:hover,
  button:focus,
  input:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }

  .employees-table-wrapper > div:nth-child(1) > input:hover,
  .employees-table-wrapper > div:nth-child(1) > input:focus,
  .employees-table-wrapper > div:nth-child(1) > span:hover {
    box-shadow: none;
  }

  input:focus-visible {
    outline: none;
  }

  footer {
    padding: 48px 0;
    text-align: center;
  }

  .react-datepicker__tab-loop {
    position: absolute;
  }
  .react-datepicker {
    font-family: "Montserrat";
    color: $dark;
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
    .calendar-title {
      background: $light-green;
      text-align: center;
      padding: 8px;
      color: $white;
      font-weight: 700;
      border-radius: 16px;
    }
    .calendar-layout {
      .react-datepicker__navigation {
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        .react-datepicker__navigation-icon::before {
          border-color: $dark;
        }
      }
      .react-datepicker__navigation:hover {
        box-shadow: none;
        background-color: $light-grey;
      }
      .react-datepicker__navigation:focus {
        box-shadow: none;
      }
      .react-datepicker__month-container {
        .react-datepicker__header {
          background: none;
          .react-datepicker__current-month {
            height: 40px;
          }
        }
        .react-datepicker__month {
          .react-datepicker__day {
            border-radius: 50%;
            color: $dark-green;
          }
          .react-datepicker__day:hover {
            background: $light-grey;
          }
          .react-datepicker__day--selected {
            background: $light-green;
            color: $white;
            font-weight: 700;
          }
          .react-datepicker__day--selected:hover {
            background: $light-green;
          }
          .react-datepicker__day--outside-month {
            color: #aaaaaa;
          }
          .react-datepicker__day--disabled {
            background-color: #aaaaaa;
            color: #aaaaaa;
            cursor: not-allowed;
          }
          .react-datepicker__day--disabled:hover {
            background-color: #aaaaaa;
            color: #aaaaaa;
            cursor: not-allowed;
          }
          .react-datepicker__day--today {
            font-weight: unset;
          }
          .react-datepicker__day--keyboard-selected {
            background-color: #c9d786;
          }
        }
      }
    }
  }
  .employee-modal {
    width: auto;
    border-radius: 16px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 16px;
    background: $white;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    p {
      margin: 0 0 16px 0;
    }
    button {
      font-family: "Montserrat";
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      margin: auto;
      background-color: $light-grey;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .css-13cymwt-control {
    border: none;
    border-radius: 32px;
    box-shadow: none;
  }
  .css-t3ipsp-control {
    border: none;
    box-shadow: none;
    border-radius: 32px;
    input {
      box-shadow: none;
    }
  }
  .input-container:has(.css-b62m3t-container) > label + * {
    padding: 0 !important;
    transition: all 100ms ease;
  }
  .css-166bipr-Input,
  .css-qbdosj-Input {
    cursor: text;
  }
  .input-container:has(.css-b62m3t-container) > label + *:hover,
  .input-container:has(.css-b62m3t-container) > label:hover + * {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  .css-1nmdiq5-menu {
    //list container
    border-radius: 16px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    .css-1n6sfyn-MenuList {
      //list
      padding: 0;
      border-radius: 16px;
      border: none;
      .css-10wo9uf-option {
        //element
        color: $dark-green;
      }
      .css-d7l1ni-option {
        //element:hover
        background-color: $light-grey;
        color: $dark-green;
      }
      .css-tr4s17-option {
        //element:selected
        background-color: $light-green;
        color: $white;
        font-weight: 700;
      }
    }
  }

  .input-container:has(input:focus) > label + * {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
}
